/* CSS styling for header section*/

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

body{
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    padding-bottom: 2000px;
    background-color: white;
}



.left-section{
    margin-left: 13px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    border: none;
    width: 150px;
}

.middle-section{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 615px;
    min-width: 50px;
}

.middle-container{
    width:560px;
    min-width: 50px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.right-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
}

.form{
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-style: solid;
    border-color:#d3d3d3;
    border-width: 1px 0.5px 1px 1px;
    border-right-width: 0.5px;
    height: 40px;
    padding-left: 10px;
    flex: 1;
}


.form-has-focus{
    border-style: solid;
    border-color: #007bff; 
    outline: none; 
    box-shadow: 1px 1px 2 0 rgba(0, 123, 255, 0.25) inset; 
}



input{
    border: none;
    background-color: transparent;
    height: 40px;
    flex: 1;
    position: relative;
}
 
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

input[type="search"]:focus {
    outline: none;
    box-shadow: none;
}

/* button styling */
.menu-button{
    width: 40px;
    height: 40px;
    border-style: none;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
}
.profile-button{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    border-radius: 20px;
    cursor: pointer;
    background-image: url('../images/profile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.notification-button,
.upload-button{
    border-width: 2px;
    position: relative;
    cursor: pointer;
    margin-left: 16x;
    margin-right: 16px;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    background-color: white;
}

.upload-button{
    margin:0px 0px 0px 0px;
}

.notification-button:hover,
.upload-button:hover{
    background-color: rgb(235, 231, 231);
}

.notification-button:active,
.upload-button:active{
    background-color: rgb(198, 194, 194);
}


.home-button{
    position: relative;
    height: 40px;
    width: 80px;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: white;
    flex: 1;
}

.menu-button:hover{
    background-color: rgb(230, 227, 240);
}

.search-button{
    position: relative;
    height: 42px;
    min-width: 55px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-style: solid;
    border-color: #d3d3d3;
    border-width: 1px 1px 1px 0.5px;
    background-color: #f8f8f8;
}

.search-button:hover{
    cursor: pointer;
    background-color: #e8e2e2
}

.search-button:active{
    background-color: #dcd8d8
}


.voice-search-button{
    position: relative;
    height: 40px;
    min-width: 40px;
    border-radius: 25px;
    border: none;
    background-color: white;
    margin-left: 8px;
}

.voice-search-button:hover{
    cursor: pointer;
    background-color: rgb(235, 231, 231);
}

.voice-search-button:active{
    background-color: rgb(198, 194, 194);
}

.upload-button{
    cursor: pointer;
}

.tool-tip{
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    transition: opacity 0.15s;
}

.search-button:hover .tool-tip{
    opacity: 1;
    top: 42px;
}

.home-button:hover .tool-tip{
    opacity: 1;
    top: 30px; 
    left: 50px;
}

.voice-search-button:hover .tool-tip{
    opacity: 1;
    top: 42px; 
    left: -20px;
}

.notification-button:hover .tool-tip,
.upload-button:hover .tool-tip{
    opacity: 1;
    top: 42px;
}

.notification-number{
    position:absolute;
    color: white;
    background-color: red;
    border-radius: 15px;
    width: 12px;
    height: 12px; 
    top: 9px;
    right: 7px;
    font-size: 12px;
}





/* image stying */
.menu-button-img{
    width: 100%;
}

.menu-button-img:hover{
    cursor: pointer;
}

.home-button-img{
    width: 100%;
}

.search-button-img{
    width: 22px;
}

.voice-search-button-img{
    width: 22px;
}

.hidden-search-img{
    display: none;
    width: 15px;
    height: 15px;
    padding-right: 10px;
    padding-left: 6px;
}

.upload-img{
    width: 22px;
}

.notification-img{
    width: 18px;
}
