.menu{
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 56px;
    overflow: auto;
}

.menu-nav-button{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 10px;
    right: 20px;
    height: 48px;
    width: 45px;

}